process {

    executor = 'k8s'
    pod = [label: 'autoscaling', value: 'true']

     withName: prepare_fasta {
        container = 'harbor-aws.xbiome.com/xbiome/environments/fastp:0.20.0-bb53c14' 
         cpus = 2
         memory = '4 GB'
         
    }

     withName: map_TCRseq_to_TCRdb {
        container = 'harbor-aws.xbiome.com/test/environments/tcrmatch:latest' 
         cpus = 32
         memory = '64 GB'
         
    }

     withName: run_prodigal {
        container = 'harbor-aws.xbiome.com/test/environments/tcrmatch:latest' 
         cpus = 2
         memory = '4 GB'

    }

    withName: generate_kmers_from_genome_protein {
        container = 'harbor-aws.xbiome.com/test/environments/tcrmatch:latest' 
         cpus = 4
         memory = '16 GB'

    }

    withName: generate_kmers_for_TCRMatch {
        container = 'harbor-aws.xbiome.com/test/environments/tcrmatch:latest' 
         cpus = 4
         memory = '16 GB'

    }

    withName: cross_genomes_TCRMatch_kmers {
        container = 'harbor-aws.xbiome.com/test/environments/tcrmatch:latest' 
         cpus = 4
         memory = '16 GB'

    }


}

k8s {
   serviceAccount = 'nextflow'
   launchDir = '/fsx/pipeline_output/'
}

trace {
    enabled = true
    fields = 'task_id,hash,native_id,name,status,exit,complete,submit,duration,realtime,%cpu,peak_rss,peak_vmem,rchar,wchar'
}

docker {
    enabled = true

    runOptions = '-u $(id -u):$(id -g)'

}

